<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static', path='/css/normalize.css') }}>
    <link rel="stylesheet" href={{ url_for('static', path='/css/index.css') }}>
    <!-- <link rel="stylesheet" href={{ url_for('static', path='/css/bootstrap.min.css') }} integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src={{ url_for('static', path="/js/jquery.slim.min.js") }} integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src={{ url_for('static', path="/js/popper.min.js") }} integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src={{ url_for('static', path="/js/bootstrap.min.js") }} integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href={{ url_for('static', path='/css/bootstrap.min.css') }}>
</head>
<body>
    
   <div class="container">
    <div id="searchPanel">
        <div class="form-inline">
          <p class="program_title">平台名称:</p>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="{{ DataDict["program_id"] }}">
                {% if DataDict["program_id"] == 1000 %}
                Baoyun18
                {% elif DataDict["program_id"] == 1001 %}
                  Qixin18
                {% elif DataDict["program_id"] == 1002 %}
                  Niubao100
                {% else %}
                  ALL
                {% endif %}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="dropdown-menu">
                <button class="dropdown-item" type="button" value="1000">Baoyun18</button>
                <button class="dropdown-item" type="button" value="1001">Qixin18</button>
                <button class="dropdown-item" type="button" value="1002">Niubao100</button>
                <button class="dropdown-item" type="button" value="999">All</button>
              </div>
            </div>
          <div class="form-group mb-2">
            <!-- <label for="staticEmail2" class="sr-only">Email</label> -->
            <input type="text" readonly class="form-control-plaintext product_title" id="staticEmail2" value="产品名称">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <!-- <label for="inputPassword2" class="sr-only">Password</label> -->
            <input type="text" class="form-control search_input" id="inputPassword2" placeholder="请输入产品名称或关键字" value="{{ DataDict["product_key"] }}">
          </div>
          <button type="submit" class="btn btn-primary mb-2" id="searchBtn" onclick=searchBtnClickEvent()>搜索</button>
        </div>
  </div>
  <div id="products_list_panel">
    <div class="data_table">
      {% for product_dict in ProductsList %}
          <div class="table_title">
            <p>平台名称：
              {% if product_dict["program_id"] == 1000 %}
                Baoyun18
              {% elif product_dict["program_id"] == 1001 %}
                Qixin18
              {% elif product_dict["program_id"] == 1002 %}
                Niubao100
              {% else %}
                Unknown
              {% endif %}
            </p>
            <span class="product_name">产品名称：{{ product_dict["product_name"]}}</span>
            <!-- <button>在全平台搜索此产品</button> -->
          </div>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  {% for key in product_dict["details"][0].keys() %}
                  <th scope="col">{{ key }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                
                  {% for details_dict in product_dict["details"] %}
                    <tr>
                      <th scope="row">{{ loop.index }}</th>
                      {% for key, value in details_dict.items() %}  
                        <td>{{value}}</td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                
              </tbody>
            </table>
      {% endfor %}
  </div>
   <ul class="ant-pagination" id="page-foot">
		<li class="ant-pagination-total-text" id="total-page" value="100">共 {{total_num}} 条</li>
		<li class="ant-pagination-disabled ant-pagination-prev" id="PreBtn">
			<a class="ant-pagination-item-link"><i aria-label="图标: left" class="anticon anticon-left"><svg viewBox="64 64 896 896" focusable="false" class="" data-icon="left" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"></path></svg></i></a>
		</li>
		<!-- [-1,0,1,2,3] -->
		{% if pageList[0] > 0 %}
			<li class="ant-pagination-item"><a>{{pageList[0]}}</a></li>
		{% endif %}
		{% if pageList[1] > 0 %}
			<li class="ant-pagination-item"><a>{{pageList[1]}}</a></li>
		{% endif %}
			<li class="ant-pagination-item-active ant-pagination-item"><a>{{pageList[2]}}</a></li>
		{% if total_num-pageList[3]*5 > 0 %}
			<li class="ant-pagination-item"><a>{{pageList[3]}}</a></li>
		{% endif %}
		{% if total_num-pageList[4]*5 > 0 %}
			<li class="ant-pagination-item"><a>{{pageList[4]}}</a></li>
		{% endif %}
		<li class=" ant-pagination-next" id="NextBtn">
			<a class="ant-pagination-item-link"><i aria-label="图标: right" class="anticon anticon-right"><svg viewBox="64 64 896 896" focusable="false" class="" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 0 0 302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 0 0 0-50.4z"></path></svg></i></a>
		</li>
		<li class="ant-pagination-options">
			<div class="ant-pagination-options-quick-jumper">
				跳转至
				<input type="number" name="page_jumper" id="page_jumper" min="1">
				页
			</div>
		</li>
	</ul>
</div>
<script src={{ url_for('static', path="/js/jquery.slim.min.js") }} ></script>
<script src={{ url_for('static', path="/js/popper.min.js") }}></script>
<script src={{ url_for('static', path="/js/bootstrap.min.js") }}></script>
<script src={{ url_for('static', path='/js/index.js') }}></script>
</body>
</html>