<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static', path='/css/normalize.css') }}>
    <link rel="stylesheet" href={{ url_for('static', path='/css/index.css') }}>
    <!-- <link rel="stylesheet" href={{ url_for('static', path='/css/bootstrap.min.css') }} integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src={{ url_for('static', path="/js/jquery.slim.min.js") }} integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src={{ url_for('static', path="/js/popper.min.js") }} integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src={{ url_for('static', path="/js/bootstrap.min.js") }} integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href={{ url_for('static', path='/css/bootstrap.min.css') }}>
</head>
<body>
    
   <div class="container">
    <div id="searchPanel">
        <div class="form-inline">
          <p class="program_title">平台名称:</p>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="{{ DataDict["program_id"] }}">
                {% if DataDict["program_id"] == 1000 %}
                Baoyun18
                {% elif DataDict["program_id"] == 1001 %}
                  Qixin18
                {% elif DataDict["program_id"] == 1002 %}
                  Niubao100
                {% else %}
                  ALL
                {% endif %}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="dropdown-menu">
                <button class="dropdown-item" type="button" value="1000">Baoyun18</button>
                <button class="dropdown-item" type="button" value="1001">Qixin18</button>
                <button class="dropdown-item" type="button" value="1002">Niubao100</button>
                <button class="dropdown-item" type="button" value="999">All</button>
              </div>
            </div>
          <div class="form-group mb-2">
            <!-- <label for="staticEmail2" class="sr-only">Email</label> -->
            <input type="text" readonly class="form-control-plaintext product_title" id="staticEmail2" value="产品名称">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <!-- <label for="inputPassword2" class="sr-only">Password</label> -->
            <input type="text" class="form-control search_input" id="inputPassword2" placeholder="请输入产品名称或关键字" value="{{ DataDict["product_key"] }}">
          </div>
          <button type="submit" class="btn btn-primary mb-2" id="searchBtn" onclick=searchBtnClickEvent()>搜索</button>
        </div>
  </div>
  <div id="products_list_panel">
    <div class="data_table">
      {% for product_dict in ProductsList %}
          <div class="table_title">
            <p>平台名称：
              {% if product_dict["program_id"] == 1000 %}
                Baoyun18
              {% elif product_dict["program_id"] == 1001 %}
                Qixin18
              {% elif product_dict["program_id"] == 1002 %}
                Niubao100
              {% else %}
                Unknown
              {% endif %}
            </p>
            <span class="product_name">产品名称：{{ product_dict["product_name"]}}</span>
            <!-- <button>在全平台搜索此产品</button> -->
          </div>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  {% for key in product_dict["details"][0].keys() %}
                  <th scope="col">{{ key }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                
                  {% for details_dict in product_dict["details"] %}
                    <tr>
                      <th scope="row">{{ loop.index }}</th>
                      {% for key, value in details_dict.items() %}  
                        <td>{{value}}</td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                
              </tbody>
            </table>
      {% endfor %}
  </div>
    <div id="pagefoot">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                  <span class="page-link" aria-label="Previous" id="PreviousBtn" href="#">
                      <!-- <span aria-hidden="true">&laquo;</span> -->
                      <span aria-hidden="true">上一页</span>
                  </span>
                </li>
                <li class="page-item"><a class="page-link" href="#" id="pageNo">{{ DataDict["page"] }}</a></li>
                <li class="page-item">
                  <button class="btn btn-secondary dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="{{ DataDict["program_id"] }}">
                    跳转至
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="foot-dropdown">
                    <button class="dropdown-item" type="button" value="1">1</button>
                    <button class="dropdown-item" type="button" value="2">2</button>
                    <button class="dropdown-item" type="button" value="3">3</button>
                    <button class="dropdown-item" type="button" value="4">4</button>
                  </div>
                </li>
                <li class="page-item">
                <span class="page-link" aria-label="Next" id="NextBtn" href="/test?searchType=1&page=2&program_id=1001&product_id=21032">
                    <!-- <span aria-hidden="true">&raquo;</span> -->
                    <span aria-hidden="true">下一页</span>
                </span>
                </li>
            </ul>
            </nav>
   </div>
</div>
<script src={{ url_for('static', path="/js/jquery.slim.min.js") }} ></script>
<script src={{ url_for('static', path="/js/popper.min.js") }}></script>
<script src={{ url_for('static', path="/js/bootstrap.min.js") }}></script>
<script src={{ url_for('static', path='/js/index.js') }}></script>
</body>
</html>